*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
h1{
    text-align: center;
    margin-top: 1rem;
}
.accordion{
    max-width: 600px;
    margin: 0 auto;
}
.accordion-item{
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem ;
    overflow: hidden;
}
.accordion-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem ;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}
.accordion-content{
    padding: 0 1rem;
    font-size: .9rem;
    line-height: 1.5rem;
    transition: 0.3s;
}
.accordion-item--active .accordion-header{
     background-color: #ddd;
} 
.accordion-item--active .accordion-content{
     transition: 0.5s;
}
.accordion-item--closed .accordion-content{
    max-height: 0;
    overflow: hidden;
}
