body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
}
h1{
    color: #333;
}

.passwordContainer{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
#password{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
#tooglePassword{
    position: absolute;
    top: 40%;
    right: 10px;
    cursor: pointer;
    color: #666;
    

}