body{
    background-color: #6A5ACD;
    padding-top: 2rem;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #fff;
    color: #fff;
}
.quote .text{
    font-style: italic;
    margin-bottom: 0.4rem;
}
.quote .author{
    font-weight: bold;
    color: #133110; 
}
.quote img{
    max-width: 300px;
    max-height: 150px;
    margin: .9rem;
    border-radius: 5px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #0a2c07;
    color: #fff;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border: none;
    transform: .4s;
    margin: 10px auto;
}

button:hover{
    background-color: #12520c;
}